<header class=header>
    <div class="logo">
        <a href="">
            <img src="" alt="Logo MiniTools">
        </a>
    </div>
        
    <div class="infos">
        <ul class="menu-links">
            <li><a href="">Sobre</a></li>
            <li><a href="">Contato</a></li>
        </ul>
    </div>
    
    {% comment %} <div class="search-bar" id="search-bar">
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="q" placeholder="Buscar..." class="search-input">
            <button type="submit" class="search-btn">
                <i></i>
            </button>
        </form>
    </div> {% endcomment %}
</header>